version: '3.4'

services:
  nodeexpresshelloworld:
    image: nodeexpresshelloworld
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: production
    ports:
      - 3000:3000
